.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#about {
  background-color: #f3f4f5;
}

#pengalaman {
  background-color: #e2edff;
}

#hubungi {
  background-color: #f3f4f5;
}

section {
  padding-top: 5rem;
}
